# Environment variables and secrets
.env
.env.local
.env.*.local

# Virtual environment
venv/
env/
ENV/
.venv/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/

# Django
*.log
*.pot
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py

# IDE specific files
# PyCharm
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Project specific
generated_faces/
*.jpg
*.png
*.gif
/static/